gamyartha.duckdns.org {
    encode gzip

    # 1. API Requests - Proxy to backend (Highest Priority)
    handle /api/* {
        reverse_proxy backend:3000
    }

    # 2. Static Files (Everything else)
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
