
services:
  backend:
    build: ./backend
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - ./backend/.env
    environment:
      - PORT=3000
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=mysecretpassword
      - DB_NAME=gamyartha
      - REDIS_URL=redis://redis:6379
      - FRONTEND_URL=https://gamyartha.duckdns.org
      - APP_URL=https://gamyartha.duckdns.org
      - NODE_ENV=production
    depends_on:
      - mysql
      - redis
    networks:
      - app-network

  frontend:
    image: caddy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend:/srv
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysecretpassword # You should change this or us env var
      MYSQL_DATABASE: gamyartha
    volumes:
      - mysql_data:/var/lib/mysql
      - ./backend/database_setup.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
  caddy_data:
  caddy_config:
